/*CSS RESET*/
title, body, header, main, footer, div, img, aside, figure, figcaption, audio, navbar, h1, h2, h3, form, label, input, ul, li, ol {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:#001524;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #169873;
}

footer {
    padding: 2%;
}
h3 {
    color: #169873;
    padding: 2%;
    
}

strong {
    color:#9EBD6E;
}

img {
    border-radius: 35%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

li {
    color: #169873
}

label {
    color: #169873
}
